.homes {
  grid-column: center-start/center-end;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  margin: 15rem 0;

  .home {
    background-color: $color-grey-light-1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3.5rem;

    &__img {
      width: 100%;
      grid-column: 1/-1;
      grid-row: 1/-1;
      z-index: 1;
    }
    &__like {
      grid-column: 2/-1;
      grid-row: 1/2;
      width: 2.5rem;
      height: 2.5rem;
      fill: $color-primary;
      justify-self: end;
      margin: 1rem;
      z-index: 2;
    }
    &__name {
      grid-column: 1/-1;
      grid-row: 1/2;
      justify-self: center;
      align-self: end;
      z-index: 3;
      width: 80%;
      background-color: $color-secondary;
      color: #ffffff;
      font-size: 1.5rem;
      font-family: $font-display;
      font-weight: 400;
      padding: 1.25rem;
      text-align: center;
      transform: translateY(50%);
    }
    &__rooms,
    &__location {
      margin-top: 3rem;
    }

    &__rooms,
    &__location,
    &__area,
    &__price {
      font-size: 1.5rem;
      margin-left: 2rem;
      display: flex;
      align-items: center;
      svg {
        fill: $color-primary;
        width: 2rem;
        height: 2rem;
        margin-right: 1.5rem;
      }
    }
    &__btn {
      grid-column: 1/-1;
    }
  }
}
